<div class="container">
    <!-- mission and vision -->
    <div class="row">
        <div class="col-6 p-5">
            <div class="card rounded p-2 bg-dark text-light">
                <div class="card-body">
                    <h1 class="mb-2 text-light mb-5">Our Vision</h1>
                    <p>Enable healthcare businesses to provide superior healthcare delivery and patient care with technology – globally</p>
                </div>
            </div>
        </div>
        <div class="col-6 p-5">
            <div class="card rounded p-2 bg-dark text-light">
                <div class="card-body">
                    <h1 class="mb-2 text-light mb-5">Our Mission</h1>
                    <p>Provide a scalable, secure platform to clinics and hospitals that provide great value at reasonable cost</p>
                </div>
            </div>
        </div>
    </div>
    <!-- services provided -->
    <h2 class="mx-5 display-6 my-2"><b>Services Provided</b></h2>
    <div class="row row-cols-5 mx-auto text-light text-center my-5">
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/stomach.png.webp" alt="">
            <p class="my-3">Gastroenterology</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/scanner.png" alt="">
            <p class="my-3">Radiology</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/blood-donation.png" alt="">
            <p class="my-3">ENT</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/cardiogram.png" alt="">
            <p class="my-3">Cardiology</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/head.png" alt="">
            <p class="my-3">Neurology</p>   
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/lungs.png" alt="">
            <p class="my-3">General surgery</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/mortar.png" alt="">
            <p class="my-3">Nutrition</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/microscope.png" alt="">
            <p class="my-3">Haematology</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/glasses.png" alt="">
            <p class="my-3">Ophthalmology</p>
        </div>
        <div class="col">
            <img src="https://preview.colorlib.com/theme/medica/img/icons/stretcher.png" alt="">
            <p class="my-3">Physiotherapy</p>
        </div>
    </div>
    <!-- Contact us -->
    <div class="bg-dark text-light p-4 rounded my-2">
        <h2 class="mx-5 display-6 my-4 text-light"><b>Contact Us</b></h2>
        <div class="row row-cols-3 text-start mx-5">
            <div class="col-12 my-2">
                <img src="data:image/webp;base64,UklGRnYBAABXRUJQVlA4TGkBAAAvHUAGEI+DoG3bGP5ob/k5zMv0K2zbts1VckZbAUlyIOwGzgyAAACIRkMIEADQAECAQNwFPBqIC1AQQIgPAAJwIURBNIAIJhsaQAgwCIQQC6LlDI9CDt5DEOQ4nYCvBCEAdFvbjkX32J7JNbZt27byl+s6/5/p7Qwi+j8BW3/+oPn/FypsMeX2mHYdZWN0yPwSMXoqsEyEoQoc4Ce3YKphn7gfuO0y0v8L4QibUbLTBjbg+jQTo6HlHo6by3A8w65msfBIyxAaKWke4mPSHhZOSb4v2Kop0nkJJ22StoqoYTvLm6/ARIrAjPJLkHaAFanpEBhQWXY/n3A15YcfHurKaU1xVj0O8GmrT3BXzjvftZLtkb0GyQE7pV2QbVd+t/JHYa6IW1oDr0pfhEFpGwunxmFS5R5Dn3axqGmHdZX/TEgzWAx/cS6DjRG2VwkCrzLaC8T88FFlRq40UcC6eTV7ATxZVg7TSesPAA==" alt="">
                <p class="mt-3 d-inline mx-4">673 729 766 contact@business.com</p>
            </div>
            <div class="col-12 my-2">
                <img src="data:image/webp;base64,UklGRugBAABXRUJQVlA4TNsBAAAvG8AIEI+EoG3bGP5pv92GYV6mH0Hbto09ybYrctu2QU6jg/4G3luwC0I4PkAQQABhPwDtMBCgShDCAYAADgGIABYBCPGLLRcLEMAscYiBJsC3R1BODSMTGrJYjpSdj5caa+AAJEqSbNpWX+v52rZt27Zt2773+b365rP2PvsTIvo/AbKOrZ3cv3u63Bwo+yh3s2ax+aMjzJZ3P8D5Qk/n4MYz8KvCRsgF/O9KlNEvfw0YtQh+h/lI2c17hnmDxxW0ys2ve9DtMgKtctvjBHKkVNiQg5//8yxt8i/I5Nd8cLVaYlIFVERAr4zBV7hOmfTIcSNEmI5ga+gRGkyt/FnnWMY06JOCjvnpZUji7yVDpkb++0gqhmiD1z9eaDPV8v+LpEqIMOiB77SY4mDRV/H3PMl8yROdJs3B/Q5QbPHGGeMWnku4NsscAMvcWUhF4ys9KbJM5281ZFu5OcjvwD/sOOPzh1X1QrIjPZCpb3DlRDhsSWqAOgcOIFqSbiDGrXpol2sCXLuTAncyN8GUvYA3iLbQNtTb2oUqWfu/Qa6NIRiT3UQg0aIODmW/EH6GGkrh5YMbqoHbT5LygCi53Qmn/soCMuTgMKzlAgVydBrXUjk8A5TL8YnXctkGAA==" alt="">
                <p class="mt-3 d-inline mx-4">Lamas Carbajal Str, no 14-18 41770 Montellano</p>
            </div>
            <div class="col-12 my-2">
                <img src="data:image/webp;base64,UklGRgACAABXRUJQVlA4TPMBAAAvHEAHEM/EoG0bQYb/tK+LHsO8TD+Ctm2burPtity2bZDbaulv4H0DAJQ+PsICQgAYDAAAJp4IDjNRGFjAQkQIYdCZsBj0XOUB/j6Y6yqCUJPlCbq3TNnDIoQwADhAmLkS86eKBUiUJNm0rb62bd9n27i2bdt6fte263v32vvsT4jo/wRI2f3be2OP5OHn+cO1tjjpA8YSKf51cU1VwbNIqR/rdW4iTD+82wM189gOtHNen/f8F6f9zEnSOMD63NDw4i5AuSSts0e2pLJjzhrTZfW/NwAbnyR955YIqQWGw+UwbRkKpFes8FElUCIPe+ClRnjPZhGUy5yfbFI3u5WgBWBM5igufUz6D1RLQ9wE22Rw62+TDNWSemmQbRInfjYao1CKhgh37nDopQ/8kCNfO+8LUlRHo6MjOVzkrQYocJDGVVdnV3OMoYcCjfLVQSzGYkMHxeqjwIE+19bW1FWEGfr5plrqnThf4qXes+KS7yVxioAwd+6zI2mBWnemaJB0n0s/N9IgRpJ+M+TGKh2yJuxR4tkUf3wNaoJSTybgg4wvD4CxSCdZK8BGquUxNLwDWrO8LAEPBmH/+SwXydITmJTSZ4CdhZHR5ROgO1QBPzmNewrTsj7qOcO41ZgpSYH/uFq9nZFtUM6br19epHvJHPIXAA==" alt="">
                <p class="mt-3 d-inline mx-4">Monday - Friday 08:00 - 21:00 Saturday & Sunday - CLOSED</p>
            </div>
        </div>
    </div>
</div>