<div class="container mt-2">
    <div>
      <nav class="nav nav-pills justify-content-center m-4 p-2 ">
        <a class="btn btn-dark btn-outline-dark p-3 rounded text-light   rounded-pill mx-2" routerLink="home"><b>Home</b></a>
        <a class="btn btn-dark btn-outline-dark p-3 rounded text-light  rounded-pill mx-2" routerLink="login"><b>Login</b></a>
        <a class="btn btn-dark btn-outline-dark p-3 rounded text-light rounded-pill mx-2" routerLink="aboutus"><b>About Us</b></a>
      </nav>
    </div>
</div>
<router-outlet></router-outlet>