<p class="display-4 text-center text-info m-5">Signup here</p>
<form #ref="ngForm" (ngSubmit)="onSignup(ref.value)" class="w-75 mx-auto mt-5">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="fullname" placeholder="name" name="fullname"
            ngModel>
        <label for="fullname">Full name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" ngModel>
        <label for="email">Email </label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-control" ngModel class="form-select" id="gen" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Others</option>
        </select>
        <label for="gen">Gender</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="dob" placeholder="23-11-12" name="dob" ngModel>
        <label for="dob">Date of birth</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="dob" placeholder="633008901" name="phoneno" ngModel>
        <label for="dob">Phonenumber</label>
    </div>
    <div class="form-floating mb-3">
        <input type="username" class="form-control" id="username" placeholder="name@example.com" name="username"
            ngModel>
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel>
        <label for="password">Password</label>
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="submit">Signup</button>
    </div>
</form>